{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}


		<h1>
			{{car.make}} - {{car.model}}
			<small>
				{{car.year}}
			</small>
			{% if car.car_img %}
             <img class="card-img-top" src="{{car.car_img.url}}" >
            {% endif %}
		</h1> 

	    <a class="btn btn-primary"  href="{% url 'car-update' car.id %}" >car update </a>
	   	<a class="btn btn-primary"  href="{% url 'car-delete' car.id  %}""  onclick="a() " >car delete </a>
		

<script type="text/javascript">
	 
	 function a(){
	 	alert(" car deleted ")
	 } 

</script>
{% endblock content %}

